<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8" />
    <meta name="google-signin-client_id" content="{{clientId}}">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <form class="card login-container mt-5" action="/login">
        <div class="card-body">
            <h1 class="text-center mb-3">Login</h1>
            <div class="form-group">
              <label>Email:</label>
              <input id="email" name="email" class="form-control" />
            </div>
            <div class="form-group mt-3">
              <label>Password:</label>
              <input id="password" name="password" class="form-control" type="password" />
            </div>
            <div class="form-group mt-4">
              <button class="btn btn-primary form-control">Login</button>
            </div>
            <hr />
            <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
            <p class="text-center mt-5"><a class="text-center" href="#">Sign-Up</a></p>
        </div>

        
      </form>
    </div>

  </body>
  <footer>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("Token: " +id_token);
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }

      function renderGoogle() {
        console.log("Rendering GOogle")
        gapi.signin2.render('google-signin', {
          scope: 'profile email',
          theme: 'dark',
          width: '100%',
          onSuccess: onSignIn,
        })
      }

      function initialize() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: "{{clientId}}",
            cookiepolicy: 'single_host_origin',
          });
          attachGoogleSignin(document.getElementById('google-signin'));
        })
      }

      function attachGoogleSignin(el) {
        auth2.attachClickHandler(el, {}, function(user) {
          console.log(user);
        }, function(error) {
          console.log(error);
        })
      }

      

      initialize();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
  </footer>
</html>

<style>
  body {
    background-color: #0d6efd;
  }

  .card {
    max-width: 400px;
    margin: auto;
  }

  #google-signin {
    background-color: #4285F4;
    font-family: Roboto;
  }

  .btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
  }  

  span.icon {
    background: url('/google_signin_buttons/web/vector/btn_google_dark_normal_ios.svg');
    display: inline-block;
    width: 42px;
    height: 42px;
  }
</style>